.list {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.list li {
    background-color: #fff;
    border-radius: 3px;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px;
    margin-bottom: 8px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    /* text-transform: uppercase; */
}

.list li.plus {
    border-right: 8px solid #49DE80;
}

.list li.minus {
    border-right: 8px solid #F87171;
}

.delete-btn {
    color: #F87171;
    padding: 4px;
    width: 30px;
    height: 30px;
}

.date-span {
    color: #CBD5E1;
    font-size: 12px;
    font-style: italic;
}
